In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Supershops.csv')

In [3]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Marketing Spend  50 non-null     float64
 1   Administration   50 non-null     float64
 2   Transport        49 non-null     float64
 3   Area             50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [5]:
x = df.drop('Profit', axis=1)
y = df[['Profit']]

In [6]:
cols = x.columns
cols

Index(['Marketing Spend', 'Administration', 'Transport', 'Area'], dtype='object')

# Normalization (using Min Max Scaler without Loop)

In [7]:
#Marketing Spend
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html

In [8]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler() # m = MinMaxScaler(feature_range=(2, 5)) where as default feature_range=(0, 1)

In [9]:
x_norm = x.copy()

In [10]:
df_mar = mms.fit(x_norm[['Marketing Spend']]) # trainging
df_mar

MinMaxScaler()

In [11]:
x_norm.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [12]:
x_norm[['Marketing Spend']] = mms.transform(x_norm[['Marketing Spend']]) #transforming

In [13]:
x_norm.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617       136897.80  471784.10    Dhaka
1         0.983359       151377.59  443898.53      Ctg
2         0.927985       101145.55  407934.54  Rangpur
3         0.873136       118671.85  383199.62    Dhaka
4         0.859438        91391.77  366168.42  Rangpur

In [14]:
#fit and transform
x_norm[['Administration']] = mms.fit_transform(x_norm[['Administration']]) #fit_transform

In [15]:
x_norm.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617        0.651744  471784.10    Dhaka
1         0.983359        0.761972  443898.53      Ctg
2         0.927985        0.379579  407934.54  Rangpur
3         0.873136        0.512998  383199.62    Dhaka
4         0.859438        0.305328  366168.42  Rangpur

# Min Max Scaler using for Loop

In [16]:
x_mms = x.copy() # for Min Max Scaler

In [17]:
for col in cols:
    if x_mms[col].dtype == 'object':
#         print('Object',x_mms[col].dtype)
        continue
    else:
#         print('Non-Object',x_mms[col].dtype)
#         fit and transform
        x_mms[[col]] = mms.fit_transform(x_mms[[col]]) #fit_transform

x_mms.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617        0.651744   1.000000    Dhaka
1         0.983359        0.761972   0.940893      Ctg
2         0.927985        0.379579   0.864664  Rangpur
3         0.873136        0.512998   0.812235    Dhaka
4         0.859438        0.305328   0.776136  Rangpur

# Standard Scaler using for Loop

In [18]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

In [19]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler() # m = MinMaxScaler(feature_range=(2, 5)) where as default feature_range=(0, 1)

In [20]:
x_ss = x.copy() # for Standard Scaler

In [21]:
for col in cols:
    if x_ss[col].dtype == 'object':
#         print('Object',x_ss[col].dtype)
        continue
    else:
#         print('Non-Object',x_ss[col].dtype)
#         fit and transform
        x_ss[[col]] = ss.fit_transform(x_ss[[col]]) #fit_transform

x_ss.head()

   Marketing Spend  Administration  Transport     Area
0         0.897913        0.560753   2.165287    Dhaka
1         1.955860        1.082807   1.929843      Ctg
2         1.754364       -0.728257   1.626191  Rangpur
3         1.554784       -0.096365   1.417348    Dhaka
4         1.504937       -1.079919   1.273550  Rangpur

# Max Abs Scaler using for Loop

In [22]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MaxAbsScaler.html

In [23]:
from sklearn.preprocessing import MaxAbsScaler
mas = MaxAbsScaler()

In [24]:
x_mas = x.copy()

In [25]:
for col in cols:
    if x_mas[col].dtype == 'object':
#         print('Object',x_mas[col].dtype)
        continue
    else:
#         print('Non-Object',x_mas[col].dtype)
#         fit and transform
        x_mas[[col]] = mas.fit_transform(x_mas[[col]]) #fit_transform

x_mas.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617        0.749527   1.000000    Dhaka
1         0.983359        0.828805   0.940893      Ctg
2         0.927985        0.553781   0.864664  Rangpur
3         0.873136        0.649738   0.812235    Dhaka
4         0.859438        0.500378   0.776136  Rangpur

# Robust Scaler using for Loop

In [26]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.RobustScaler.html

In [27]:
from sklearn.preprocessing import RobustScaler
rs = RobustScaler()

In [28]:
x_rs = x.copy()
x.head()
# x_rs.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [29]:
for col in cols:
    if x_rs[col].dtype == 'object':
#         print('Object',x_rs[col].dtype)
        continue
    else:
#         print('Non-Object',x_rs[col].dtype)
#         fit and transform
        x_rs[[col]] = rs.fit_transform(x_rs[[col]]) #fit_transform

x_rs.head()

   Marketing Spend  Administration  Transport     Area
0         0.672530        0.345355   1.552016    Dhaka
1         1.452113        0.697565   1.383714      Ctg
2         1.303634       -0.524290   1.166654  Rangpur
3         1.156567       -0.097977   1.017368    Dhaka
4         1.119836       -0.761543   0.914576  Rangpur