In [1]:
#importing libraries dataset
import pandas as pd
import numpy as np

## 1. Import data set

In [2]:
df = pd.read_csv('weight-height.csv')

In [5]:
df.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [4]:
df.replace(to_replace=["Male", "Female"], value=[1,0], inplace=True) #male=1 ' female=0'

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8555 entries, 0 to 8554
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  8555 non-null   int64
 1   Height  8555 non-null   float64
 2   Weight  8555 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 200.6 KB

In [7]:
df.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [8]:
df.Gender.value_counts()

1    5000
0    3555
Name: Gender, dtype: int64

# Step 01 - Regression

## 2. Separate x(Gender, Height) and y (y=Weight)

In [9]:
#Seperate X,y
x = df.drop('Weight', axis=1)
y = df[['Weight']]

In [10]:
x.head()

   Gender     Height
0       1  73.847017
1       1  68.781904
2       1  74.110105
3       1  71.730978
4       1  69.881796

## 3. Train = 70%, Test = 30%

In [11]:
from sklearn.model_selection import train_test_split # importing the necessary module

In [12]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.30, random_state=42) # training data=70% and testing data=30%

In [13]:
xtest.shape # 2567 rows = 30%

(2567, 2)

## 4. Apply Linear Regression

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
lnr_regression = LinearRegression()

In [16]:
lnr_regression.fit(xtrain, ytrain) # Train the model with the x and y training data set

LinearRegression()

## 5. Evaluate the Model (Testing and training Accuracy, MSE for testing)

In [18]:
from sklearn.metrics import mean_squared_error

In [21]:
mse = mean_squared_error(ytest, lnr_regression.predict(xtest))
print("MSE is: ",mse)

MSE is:  96.83734437830606

## 6. Apply KNN Regressor: 

https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html

In [22]:
from sklearn.neighbors import KNeighborsRegressor

In [23]:
knr = KNeighborsRegressor(n_neighbors=2)

In [24]:
knr.fit(xtrain, ytrain)

KNeighborsRegressor(n_neighbors=2)

In [27]:
df.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [37]:
# KNeighborsRegressor(...)
print('Actual: ',241.893563,' vs the Prediction: ',knr.predict([[1,73.847017]])[0][0])
# [0.5]

Actual:  241.893563  vs the Prediction:  225.44792205

C:\Users\ZIR\Anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

## 7. Evaluate the Model (Testing and training Accuracy, MSE for testing)

In [38]:
mse = mean_squared_error(ytest, knr.predict(xtest))
print("MSE is: ",mse)

MSE is:  156.18204716183638

## 8. Compare KNN & Linear regression with the KNN model and Linear regression as well.

# Step 02 - Classification

## 2. Separate x(Gender, Height) and y (y=Weight)

In [39]:
x = df.drop('Gender', axis=1)
y = df[['Gender']]

In [40]:
y.head()

   Gender
0       1
1       1
2       1
3       1
4       1

In [41]:
x.head()

      Height      Weight
0  73.847017  241.893563
1  68.781904  162.310473
2  74.110105  212.740856
3  71.730978  220.042470
4  69.881796  206.349801

## 3. Train = 70%, Test = 30%

In [42]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.30, random_state=42) # training data=70% and testing data=30%

In [43]:
xtest.shape # 2567 rows = 30%

(2567, 2)

## 5. Evaluate the Model by only Accuracy.

## 6. Apply KNN Classifier:

https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html